.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 0px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -140px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 138px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 138px;
  margin-left: -11px;
}
.ol-popup-closer {
  color: black;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "X";
}
.sede{
	padding: 10px;
}
.textSede{
	text-align: justify;	
}
section article.skills {
  height: auto;
}
section article.skills p {
  z-index: 2;
  padding: 0px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0px;
  font-size: 10px;	
}
section article.skills div span:nth-child(4) {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5E95E8;
  height: 100%;
  margin-left: 14px;
}